package ${package.Service};

import ${package.Entity}.${entity};
import com.baomidou.mybatisplus.mapper.EntityWrapper;

import java.util.List;

    /**
     * <p>
     * $!{table.comment} 服务类
     * </p>
     *
     * @author ${author}
     * @since ${date}
     */
    public interface ${table.serviceName} extends CoreService<${entity}>{

    /**
     * 新增 ${tableComment}
     *
     * @param  ${table.entityPath} 信息
     * @return
     */
    public int insert(${entity} ${table.entityPath});

    #foreach($field in ${table.fields})
        #if(${field.keyFlag})
        /**
         * 删除 ${tableComment}
         *
         * @param
         * @return
         */
        public int delete${entity}ById(${field.propertyType} ${field.propertyName});
        #end
    #end

}
