package ${package.ServiceImpl};

import com.baomidou.mybatisplus.mapper.EntityWrapper;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;
/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends CoreServiceImpl<${table.mapperName}, ${entity}>implements ${table.serviceName} {


    @Autowired
    private ${table.mapperName} ${table.entityPath}Dao;

#foreach($field in ${table.fields})
    #if(${field.keyFlag})
    /**
     * 删除
     *
     * @param
     * @return
     */
    @Override
    public int delete${entity}ById(${field.propertyType} ${field.propertyName}){
            ${entity} ${table.entityPath} = new ${entity}();
            ${table.entityPath}.setIsDeleted(1);
            ${table.entityPath}.setId(${field.propertyName});
            return this.updateById(${table.entityPath});
    }
    #end
#end

    /************************以上是基础方法无特殊必要不进行修改******************************************/

}
